html,
body {
  font-family: 'Work Sans';
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans';
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: $gray-800;
  background-color: $gray-200;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
  margin-bottom: 18px;
}

h2 {
  font-size: 36px;
  margin-bottom: 12px;
}

h3 {
  font-size: 30px;
  margin-bottom: 6px;
}

h4 {
  font-size: 24px;
  margin-bottom: 6px;
}

a {
  color: $theme-orange;

  &:hover,
  &:focus {
    color: $theme-orange;
  }
}

p {
  color: $gray-600;
  margin-bottom: 12px;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  padding: 9px 18px 11px;
  border-radius: 0;
  line-height: 1.2;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-lg {
  font-size: 14px;
  padding: 12px 22px;
}

.btn-default {
  background-color: $theme-orange;
  color: $white;

  &:hover,
  &:focus {
    background-color: #de7e03;
    color: $white;
  }
}

.btn-default-outline {
  border-color: $theme-orange;
  color: $theme-orange;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $theme-orange;
    color: $white;
  }
}

.dropup {
  .dropdown-toggle {
    i {
      font-size: 14px;
      margin-right: 3px;
    }

    &:after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: "\f078";
      border: none!important;
      width: auto;
      height: auto;
      margin: 0 0 0 6px;
      vertical-align: middle;
      font-size: 14px;
      color: $gray-800;
      transition: all .15s ease-in-out;
    }
    &[aria-expanded="true"] {
      &:after {
        transform: rotate(-180deg);
      }
    }
  }
}
.dropdown-toggle {
  i {
    font-size: 14px;
    margin-right: 3px;
  }

  &:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f078";
    border: none!important;
    width: auto;
    height: auto;
    margin: 0 0 0 6px;
    vertical-align: middle;
    font-size: 14px;
    transition: all .15s ease-in-out;
  }
  &[aria-expanded="true"] {
    &:after {
      transform: rotate(-180deg);
    }
  }
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.11);

  .dropdown-item {
    &.active,
    &:active {
      background-color: $theme-orange;
      outline: none!important;
      box-shadow: none!important;
    }
  }
}

.bootstrap-select > .dropdown-toggle:after {
    margin-top: 1px;
}
